<div id="<?php echo $id; ?>" class="modal" data-backdrop='static'  tabindex="-1" aria-labelledby="<?php echo $id; ?>" aria-hidden="true">
    <div class="modal-dialog" style="z-index: 9999">
        <div class="modal-content">
        </div>
    </div>
</div>
