<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Sms Situaco'), ['action' => 'edit', $smsSituaco->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Sms Situaco'), ['action' => 'delete', $smsSituaco->id], ['confirm' => __('Are you sure you want to delete # {0}?', $smsSituaco->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Sms Situacoes'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Sms Situaco'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="smsSituacoes view large-9 medium-8 columns content">
    <h3><?= h($smsSituaco->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Nome') ?></th>
            <td><?= h($smsSituaco->nome) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($smsSituaco->id) ?></td>
        </tr>
    </table>
</div>
