<?= $this->Form->create('SisFuncionalidades', ['class' => 'form form-validate', 'role' => 'form']); ?>
<?= $this->element('forms/title', ['title' => '<i class="fa fa-edit"></i> Editar Funcionalidade']); ?>
<?= $this->Form->hidden('id'); ?>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"> 
                <?= $this->Form->input('sis_modulo_id', ['label' => 'Módulo', 'empty' => 'Selecione', 'class' => 'chosen', 'options' => $optionsModulos]); ?>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">                
                <?= $this->Form->input('name', ['label' => 'Nome', 'class' => 'form-control']); ?>
            </div>
        </div>
        <div class="col-md-4">
            <?= $this->Form->input('active', ['type' => 'radio', 'legend' => 'Ativo', 'class' => 'radio-inline radio-styled tipo', 'options' => [1 => 'Sim', 0 => 'Não']]); ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <?= $this->Form->input('permission', ['label' => false, 'multiple' => 'true', 'type' => 'select', 'options' => $optionsPermissions, 'default' => $selectedPermissions, 'class' => 'chosen-select', 'required' => 'required', 'class' => 'form-control', 'div' => ['class' => 'col-sm-12 controls'], 'after' => 'Obs.: Permissões com (*) são órfãs.']); ?>
                <label class="control-label">Permissões</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <?= $this->Form->input('sis_grupo', ['label' => false, 'multiple' => 'true', 'type' => 'select', 'options' => $optionsGrupos, 'default' => $selectedGrupos, 'class' => 'chosen-select', 'required' => 'required', 'class' => 'form-control', 'div' => ['class' => 'col-sm-12 controls']]); ?>
                <label class="control-label">Grupos</label>
            </div>
        </div>
    </div>
</div>
<?= $this->element('forms/buttons') ?>
<?= $this->Form->end(); ?>
