<?php $this->assign('title', $title); ?>
<!--<div>-->
    <?= $this->Flash->render() ?>
    <!--<div class="upload-frm">-->
        <?php echo $this->Form->create($uploadData, ['type' => 'file']); ?>
        <?php echo $this->Form->input('idOperadora', ['type' => 'hidden', 'value' => $idOperadora]); ?>
        <div class="upload-frm">
            <?php echo $this->Form->input('file', ['type' => 'file', 'label' => '']); ?>
        </div>
        <div class="upload-frm">
            <?php echo $this->Form->button(__('Enviar'), ['type' => 'submit', 'class' => 'btn btn-md btn-primary']); ?>
        </div>
        <?php echo $this->Form->end(); ?>
    <!--</div>-->
<!--</div>-->
