<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $simulacoesTabela->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $simulacoesTabela->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Simulacoes Tabelas'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Simulacoes'), ['controller' => 'Simulacoes', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Simulaco'), ['controller' => 'Simulacoes', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Tabelas'), ['controller' => 'Tabelas', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Tabela'), ['controller' => 'Tabelas', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="simulacoesTabelas form large-9 medium-8 columns content">
    <?= $this->Form->create($simulacoesTabela) ?>
    <fieldset>
        <legend><?= __('Edit Simulacoes Tabela') ?></legend>
        <?php
            echo $this->Form->input('simulacao_id', ['options' => $simulacoes]);
            echo $this->Form->input('tabela_id', ['options' => $tabelas]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
