
	<h5 style="margin: 15px 0 0 !important;" class="centralizada col-xs-12"><b>SELECIONE AS TABELAS QUE DESEJA EXIBIR</b></h5>
<?php foreach($produtos as $id => $produto){
	echo '<div class="col-md-3">';
	echo  $this->Form->input("Produtos[".$id."]", ['value' => $id, "type" => "checkbox", "label" => $produto,"class" => "fonteReduzida"]);
	echo '</div>';
	 } ?>
	
<script type="text/javascript">
	
</script>