<style>
    #content{
        padding: 0;
    }
    #leads-frame{
        width: 100vw;
        height: calc(100vh - 175px);
    }
</style>
<iframe id="leads-frame" src="<?= $url ?>" borderframe='0'></iframe>