.jumbotron {
    background-color: #eee;
    color: inherit;
    /*margin-bottom: 30px;*/
    padding: 30px 10px;
    line-height: 1.5;
    width: 100%;
    /*width: 97%;*/
}

.rodape-home {
    text-align: center;
    color: #666;
    margin-bottom: 10px;
}

.operadora {
    /*width: 97% !important;*/
    background-color: #337ab7;
    border-color: solid 1mm #337ab7;
    color: #fff;
    padding: 5px;
}

.larguraPadrao {
    width: 700px !important;
}

.tabela {
    border: 1px solid #ddd;
    table-layout: fixed;
    width: 500pt;
}

.operadoras {}

.produtos {
    background-color: #ccc !important;
    text-align: center;
}

.produtos td {
    padding: 5px 0 5px 3px;
    border-top: solid 0.1mm #5a5a5a;
    border-left: solid 0.1mm #5a5a5a;
    border-right: solid 0.1mm #5a5a5a;
}

.tituloField {
    border-bottom: 1px solid #ddd;
    color: #000;
    cursor: default;
    display: block;
    font-size: 10px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin: 5px 0px;
    outline: 0 none rgb(85, 85, 85);
    padding: 0;
    vertical-align: baseline;
    white-space: normal;
    font-size: 60%;
}

.topoTabela {
    padding: 5px 0;
    background-color: #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.corpoTabela {
    padding: 5px 0;
    text-align: center;
    font-size: 10px;
}

.totalTabela {
    padding: 5px 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.fonteReduzida {
    font-size: 10px;
    text-align: justify !important;
    text-align: justify;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    cursor: default;
    display: block;
    font-style: normal;
    font-variant-caps: normal;
    vertical-align: baseline;
    white-space: normal;
}

.negrito {
    font-weight: bold;
}

.obs {
    text-align: justify;
}

.nobreak {
    page-break-inside: avoid;
    width: 100% !important;
}

.info {
    color: #a9a9a9;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.verde {
    color: #128c7e;
}

.pagina {
    padding: 20px;
    margin-top: 170px;
}

@media(max-width: 767px) {
    .pagina {
        margin-top: 160px;
    }
}

@media(min-width: 768px) and (max-width: 895px) {
    .pagina {
        margin-top: 250px;
    }
}

@media(min-width: 896px) and (max-width: 1218px) {
    .pagina {
        margin-top: 200px;
    }
}

.folha-anexo {
    box-shadow: 0px 0px 10px -6px;
    padding: 10px;
    margin: 50px 0;
}

.titulo-anexo {
    margin: 50px 0;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}