    .jumbotron {
        background-color: #C0C0C0;
        color: inherit;
        padding: 30px 0 30px 0;
        padding-left: 20px;
        line-height: 1.5;
    }

    .fonteReduzida {
        color: #4d4d4d;
        cursor: pointer;
        display: block;
        font-size: 10px !important;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .operadora {
        background-color: #337ab7;
        border-color: solid 1mm #337ab7;
        color: #fff;
        padding: 5px;
    }

    .TituloOperadora {
        background-color: #337ab7;
        padding: 5px;
        color: #fff;
        font-weight: bold;
        line-height: 1.5;
        width: 100%;
    }

    .detalhesOperadora {
        padding: 10px 0px;
        font-weight: bold;
    }

    .larguraPadrao {
        width: 700px !important;
    }

    .tabela {
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 500pt;
    }

    .centralizada {
        text-align: center;
    }

    .tituloField {
        color: #000;
        cursor: default;
        display: block;
        font-size: 10px;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: bold;
        height: 18px;
        line-height: 18px;
        margin: 5px 0px;
        outline: 0 none rgb(85, 85, 85);
        padding: 0;
        vertical-align: baseline;
        white-space: normal;
    }

    .topoTabela {
        padding: 5px 0;
        background-color: #ddd;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
    }

    .corpoTabela {
        padding: 5px 0;
        text-align: center;
        font-size: 10px;
    }

    .negrito {
        font-weight: bold;
    }

    .obs {
        text-align: justify;
    }

    .esquerda {
        float: left;
        margin: 15px;
        font-family: sans-serif;
    }

    .direita {
        float: right;
    }

    .total {
        width: 100%;
    }

    .p15 {
        width: 15%;
    }

    .p85 {
        width: 85%;
    }

    .totalTabela {
        width: 100% !important;
        border-collapse: collapse;
        font-size: 7.8px;
        text-align: center;
        background-color: #C0C0C0;
    }

    .t100 {
        width: 100%;
        border-collapse: collapse;
        font-size: 7.8px;
        text-align: center;
        background-color: #C0C0C0;
    }

    .4col {
        width: 25% !important;
    }

    .corpo-gerador-tabelas {
        border: 1px solid #ddd !important;
        padding: 5px;
        width: 100%;
    }

    .titulo-tabela {
        text-align: center;
        font-weight: bold;
        padding: 5px;
        font-size: 85% !important;
    }

    .precos {
        border: solid 0.5px #ddd;
        text-align: center;
        padding: 3px 0 3px 0 !important;
    }

    .nobreak {
        page-break-inside: avoid;
    }

    .rodape-home {
        text-align: center;
        color: #666;
        margin-bottom: 10px;
    }

    .page_header {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    #acoesgerador {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: transparent;
        border: 0;
    }

    .verde {
        color: #128c7e;
    }

    .icones-btn {
        padding: 1px;
        border-radius: 9px;
        background-color: transparent;
        border: 0;
    }

    .icones-btn img {
        width: 35px;
    }

    .tabela-topico {
        width: 100%;
        background-color: #ccc !important;
        text-align: center;
        font-weight: bold;
        padding: 5px;
        font-size: 90%
    }

    .tabela-produto {
        background-color: #004057;
        color: #ffffff;
        padding: 5px 0;
        text-align: center;
        font-weight: bold;
    }

    .logo-operadora {
        padding: 10px;
        width: 33.333333%;
        float: left;
        text-align: left;
    }

    .logo-operadora img {
        max-width: 80%;
        max-height: 120px;
        height: auto;
    }

    .espaco-user {
        padding: 10px;
        width: 33.333333%;
        float: left;
        justify-content: space-around;
        display: flex;
    }

    .espaco-user .logo-user {
        max-height: 120px;
        min-height: 100px;
    }

    .logo-cp {
        padding: 10px;
        width: 33.333333%;
        float: left;
        text-align: center;
    }

    .logo-cp img {
        max-width: 80%;
        max-height: 120px;
        height: auto;
    }

    .informacoes {
        padding: 10px;
        width: 33.333333%;
        float: left;
        text-align: right;
    }

    .informacoes span {
        float: right;
        display: block;
        width: 70%;
    }

    #newacoes {
        position: fixed;
        bottom: 10px;
        right: 20px;
        min-height: 200px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
    }

    .acoesModal {
        position: fixed;
        bottom: 0px;
        right: -70px;
        min-height: 200px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @media(max-width: 635px) {
        .logo-operadora {
            width: 50%;
            text-align: center;
        }

        .logo-cp {
            width: 50%;
        }

        .informacoes {
            width: 100%;
        }

        .informacoes span {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    @media print {
        .container-menu {
            display: none;
        }

        #acoesgerador,
        #menu-fixado,
        .preencimento-menu {
            display: none;
        }

        .conteudo>.col-xs-12 {
            margin-top: 0px !important;
        }

        .container-fluid>.col-xs-12 {
            margin-top: 0px !important;
        }

        .logo-operadora>img {
            max-height: 70px;
            width: auto;
            max-width: 100px;
            height: auto;
        }

        .logo-cp>img {
            max-height: 70px;
            width: auto;
            max-width: 80px;
            height: auto;
        }

        @page {
            size: auto;
            margin: 10px;
        }

        .informacoes,
        .espaco-user {
            font-size: 10px;
        }

        .informacoes span {
            float: right;
            display: block;
            width: 100%;
        }

        .tabela-produto {
            background-color: #004057 !important;
            color: #ffffff !important;
            padding: 5px 0;
            text-align: center;
            font-weight: bold;
        }

        .tabela-topico {
            background-color: #ccc !important;
        }

        #menu-fixado {
            display: none;
        }

        .preencimento-menu {
            display: none !important;
            height: 0px !important;
        }

        .table tbody>tr>td {
            border: 1px solid #ddd !important;
        }

        .icones-btn {
            display: none;
        }

    }