    .navbar-default {
        background: #FFF;
        background-image: none;
        box-shadow: none;
    }
    
    .topo-logos .tg-container {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        flex-wrap: wrap;
        -webkit-box-align: center;
        display: flex;
        padding: 0 1%;
        width: 98%;
    }
    
    .topo-logos {
        position: relative;
        background-color: #FFF;
        z-index: 1031;
    }
    
    .wellcome-user {
        right: 30px;
        position: absolute;
        text-align: right;
    }
    
    .wellcome-user a {
        color: #333;
    }
    
    .menu-icons {
        padding: 1px !important;
        width: 15px !important;
        margin-bottom: 4px;
    }
    
    #ul-menu>li>a:hover {
        background-color: #eee;
    }
    
    .navbar-header {
        padding: 0 30px;
    }
    
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px !important;
        padding: 0 10px !important;
    }
    
    .navbar-nav>li>a:hover {
        background-color: #eee !important;
    }
    
    .custom-logo {
        margin: 0 7px 0 7px;
        max-width: 200px;
        max-height: 80px;
        width: auto;
        padding: 10px;
    }
    
    .nav.navbar>li:hover {
        background-color: #ccc;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #333 !important;
    }
    
    .menu-center {
        display: flex;
        justify-content: center;
    }
    
    #menu-fixado {
        position: fixed;
        background-color: #fff;
        z-index: 10;
    }
    
    .p {
        text-align: center;
        font-size: 14px;
        margin-top: 80px;
    }
    
    .container-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        z-index: 1030;
    }
    
    .container-menu .collapse {
        position: relative;
    }
    
    .navbar-toggle {
        line-height: 25px;
        font-family: 'Open Sans';
    }
    
    #navbar-collapse-menu-1 {
        z-index: 1031;
    }
    
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
    
    #submenu ul {
        list-style: none;
        margin-left: 0px;
        background-color: #f5f5f5;
    }
    
    #submenu ul li {
        text-align: left;
        padding-left: 35px;
    }
    
    #submenu ul li:hover {
        background-color: #fff;
    }
    
    #submenu ul li a {
        text-decoration: none;
        color: #333;
    }
    
    .menu-item:hover {
        background-color: #e7e7e7;
    }
    
    #ul-menu {
        font-size: 13px !important;
        min-width: 200px;
    }
    
    .direcao {
        display: none;
        margin-top: 4px;
    }
    
    .dropdown-hamburger small {
        margin-left: 20px;
    }
    
    .hamburguer {
        list-style: none;
    }
    
    .hamburguer li a {
        text-decoration: none;
        color: #333;
        padding: 3px 20px;
    }
    
    .welcome-user-mobile {
        display: none;
    }

    @media(min-width: 767px) {
        #btn-config {
            position: absolute !important;
            left: 10px !important;
        }
        #aviso-teste {
            position: absolute !important;
            right: 10px !important;
        }
    }
    
    .navbar-brand {
        display: none;
    }
    
    .preencimento-menu {
        width: 1px;
        height: 90px;
    }
    
    @media(max-width: 767px) {
        .topo-logos .tg-container a {
            max-width: 50%;
        }
        .menu-center {
            display: block;
            float: left;
            padding-left: 15px;
        }
        .navbar-toggle {
            float: left;
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
        .navbar-toggle {
            display: inline-flex;
            align-items: center;
            border: 0;
        }
        .navbar-toggle div {
            margin: 5px;
            color: #888;
        }
        .navbar-toggle:hover {
            background-color: #FFF !important;
            color: #888 !important;
        }
        .navbar-default .navbar-toggle:focus {
            background-color: #FFF;
        }
        #ul-menu {
            font-size: 15px !important;
        }
        .direcao {
            display: block;
        }
    }
    
    @media (max-width: 991px) {
        .navbar-header {
            float: none;
            padding: 0;
        }
        .navbar-toggle {
            display: inline-flex;
            align-items: center;
            border: 0;
            float: left;
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
        .navbar-toggle div {
            margin: 5px;
            color: #888;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-collapse.collapse {
            display: none !important;
        }
        .navbar-nav {
            float: none !important;
            margin: 7.5px -15px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block !important;
        }
        .collapsing {
            overflow: hidden !important;
        }
        .menu-center {
            display: block;
            float: left;
            padding-left: 15px;
        }
    }