    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
    /*
    Created on : 22/08/2016, 15:04:54
    Author     : rodrigo
    */

    label {
        /* display: block !important; */
    }

    input[type="radio"] {
        line-height: normal;
        margin: 2px 4px !important;
    }

    .modulo {
        text-align: center;
        font-size: medium;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    html {
        font-size: 100% !important;
    }

    .botaoSalvar {
        margin: 10px 0;
    }

    .esquerda {
        float: left;
    }

    .direita {
        float: right;
    }

    .panel {
        padding: 0 !important;
    }

    .tabela {
        /*margin: 20px 0;*/
    }

    .ul {
        margin-left: 0 !important;
    }

    .negrito {
        font-weight: bold !important;
    }

    .semMargem {
        margin-left: 0 !important;
    }

    .informacao {
        background-color: #d9edf7 !important;
        border-color: #bce8f1 !important;
        color: #31708f !important;
    }

    .centralizada {
        text-align: center;
    }

    .container {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    .cabecalho {
        /*         border-bottom: 1px solid #eee; */
        /*color: #337ab7 !important;*/
    }

    body {
        /*font-family: 'Exo 2', sans-serif !important;*/
        font-family: 'Open Sans', sans-serif !important;
        /*background-color: #e5e6e7 !important;*/
    }

    .dropbtn {
        background-color: #fff;
        /*    color: #a1a1a1;*/
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        float: right;
        font-size: 75%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        color: #2179A1;
        background-color: #eee;
    }

    .titulo {
        font-size: 20px;
        color: rgb(33, 121, 161);
        -webkit-font-smoothing: none;
        -webkit-user-select: none;
        border-bottom: rgb(238, 238, 238) solid 3px;
        color: rgb(33, 121, 161);
        cursor: default;
        display: block;
        font-family: Calibri, Arial, sans-serif;
        font-size: 25.33333396911621px;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: 100;
        height: 31px;
        line-height: 31px;
        margin-bottom: 20px;
        text-rendering: optimizespeed;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
    }

    .tituloField {
        -webkit-font-smoothing: none;
        -webkit-user-select: none;
        background-image: none;
        color: rgb(85, 85, 85);
        cursor: default;
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        /*height: 18px;*/
        line-height: 18px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: rgb(85, 85, 85);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-rendering: optimizespeed;
        vertical-align: baseline;
        white-space: normal;
        text-transform: uppercase;
    }

    .bordaLateral {
        border-right: 1px rgb(238, 238, 238) solid;
    }

    .fonteReduzida {
        font-size: 85% !important;
        color: #4d4d4d;
        cursor: pointer;
        display: block;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .fonteMicro {
        font-size: 90% !important;
        color: #4d4d4d;
        cursor: pointer;
        display: block;
        line-height: 1.5;
        margin-bottom: 0;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
    }

    label {
        font-weight: 300 !important;
    }

    .textoForm {
        -webkit-appearance: none !important;
        -webkit-box-shadow: rgb(204, 204, 204) 0px 0px 5px 0px inset !important;
        -webkit-font-smoothing: none !important;
        -webkit-rtl-ordering: logical !important;
        -webkit-user-select: text !important;
        -webkit-writing-mode: horizontal-tb !important;
        background-attachment: scroll !important;
        background-clip: border-box !important;
        background-color: rgb(255, 255, 255) !important;
        background-image: none !important;
        background-origin: padding-box !important;
        background-size: auto !important;
        border-bottom-color: rgb(204, 204, 204) !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
        border-image-outset: 0px !important;
        border-image-repeat: stretch !important;
        border-image-slice: 100% !important;
        border-image-source: none !important;
        border-image-width: 1 !important;
        border-left-color: rgb(204, 204, 204) !important;
        border-left-style: solid !important;
        border-left-width: 1px !important;
        border-right-color: rgb(238, 238, 238) !important;
        border-right-style: solid !important;
        border-right-width: 1px !important;
        border-top-color: rgb(204, 204, 204) !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
        box-shadow: rgb(204, 204, 204) 0px 0px 5px 0px inset !important;
        color: rgb(0, 0, 0) !important;
        cursor: auto !important;
        display: inline-block !important;
        font-family: -apple-system !important;
        font-size: 11px !important;
        font-style: normal !important;
        font-variant-caps: normal !important;
        font-weight: normal !important;
        letter-spacing: normal !important;
        line-height: 13px !important;
        margin-bottom: 2px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: -1px !important;
        outline-color: rgb(0, 0, 0) !important;
        outline-style: none !important;
        outline-width: 0px !important;
        padding-bottom: 3px !important;
        padding-left: 3px !important;
        padding-right: 3px !important;
        padding-top: 3px !important;
        resize: none !important;
        text-align: start !important;
        text-indent: 0px !important;
        text-rendering: optimizespeed !important;
        text-shadow: none !important;
        text-transform: none !important;
        word-spacing: 0px !important;
    }

    .anexosProposta {
        -webkit-box-shadow: rgb(204, 204, 204) 0px 0px 0px 0px inset;
        -webkit-font-smoothing: none;
        -webkit-user-select: none;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        box-shadow: rgb(204, 204, 204) 0px 0px 0px 0px inset;
        cursor: default;
        display: inline-block;
        font-family: Calibri, Tahoma, Arial;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: rgb(0, 0, 0);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 4px;
        padding-left: 5px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: left;
        text-rendering: optimizespeed;
        vertical-align: baseline;
        zoom: 1;
    }

    .faixaEtaria {
        cursor: default;
        display: block;
        float: left;
        font-size: 12px;
        font-weight: normal;
        line-height: 13px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 4px;
        padding-left: 5px !important;
        padding-right: 0px !important;
        padding-top: 0px;
        text-align: center;
        vertical-align: baseline;
        /*width: 110px;*/
    }

    .qtdVidas {
        min-height: 110px !important;
    }

    .tabelaTopo {
        -webkit-border-horizontal-spacing: 10px;
        -webkit-border-vertical-spacing: 10px;
        -webkit-font-smoothing: none;
        background-color: rgb(238, 238, 238);
        border-bottom-color: rgb(204, 204, 204);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-collapse: collapse;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(204, 204, 204);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(204, 204, 204);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(204, 204, 204);
        border-top-style: solid;
        border-top-width: 1px;
        cursor: default;
        display: table-row;
        font-family: 'Segoe UI', Tahoma, Arial;
        font-size: 12px;
        font-style: normal;
        font-variant-caps: normal;
        font-weight: normal;
        height: 15px;
        line-height: 16px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: rgb(0, 0, 0);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 1px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 1px;
        text-align: center;
        text-rendering: optimizespeed;
        vertical-align: baseline;
        width: 861px;
    }

    .beneficiarios {
        font-size: 75% !important;
        text-align: center;
        background-color: rgb(238, 238, 238);
        font-family: 'Segoe UI', Tahoma, Arial;
        border: 1px solid #ddd;
        vertical-align: middle !important;
    }

    .beneficiariosTransparente {
        font-size: 75% !important;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Arial;
        border: 1px solid #ddd;
    }

    .tituloTabela {
        font-size: 80% !important;
    }

    .spacer-xs {
        margin: 5px 0;
    }

    .spacer-sm {
        margin: 10px 0;
    }

    .spacer-md {
        margin: 15px 0;
    }

    .spacer-lg {
        margin: 20px 0;
    }

    .maiusculas {
        font-variant: all-petite-caps;
        font-weight: bold;
    }

    .userLogado {
        text-align: right;
        font-size: 11px;
        padding-right: 1%;
        margin: 10px 0 5px;
    }

    .userLogadoMobile {
        text-align: center;
        font-size: 11px;
        padding-right: 1%;
        margin: 10px 0 5px;
    }

    .logo {
        width: 250px;
        /*float: left;*/
        margin: 15px 5px !important;
    }

    .logoFa {
        width: 338px;
        float: left;
        padding: 5px !important;
    }

    .formlogin {
        margin-top: 5px;
        padding: 0 !important;
    }

    .letraReduzida {
        font-size: 9px;
        font-weight: 400 !important;
    }

    .alturaFixa100 {
        height: 100px;
        overflow-y: scroll;
    }

    .logoLogin {
        float: none !important;
        margin: 0 auto !important;
    }

    .col-xs-15,
    .col-sm-15,
    .col-md-15,
    .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .col-xs-15 {
        width: 20%;
        float: left;
    }

    @media (min-width: 768px) {
        .col-sm-15 {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-15 {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-15 {
            width: 20%;
            float: left;
        }
    }

    .margemMinima {
        margin-right: 3px;
    }

    .logoMiniatura {
        max-width: 60px;
    }

    .logoSimulacao {
        max-height: 70px;
        text-align: center !important;
        margin-top: 2%;
        max-width: 150px;
    }

    .logoSimulacaoReduzido {
        max-height: 50px;
        text-align: center !important;
        margin: 2%;
        max-width: 100px;
    }

    .menu {
        position: static;
        /*z-index: 999;*/
        float: right !important;
    }

    .conteudo {
        min-height: 280px;
        margin-top: 200px;
        margin-bottom: 50px;
    }

    /*.rodape{
    text-align: center;
    font-size: 10px;
    color: #a9a9a9;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    }*/

    .rodape-home,
    .rodape {
        text-align: center;
        font-size: 14px;
        color: #666;
        bottom: 0px;
        padding: 5px 0;
        background-color: #fff;
    }

    .versao {
        font-weight: 500;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        margin-top: 12px;
    }

    .vermais {
        float: left !important;
        font-size: 12px;
        padding: 3.2% 0 !important;
        text-align: center;
    }

    .detalheOperadora {
        font-size: 65% !important;
    }

    .resumoLogos {
        width: 80px;
        height: auto;
        margin-right: 10px;
    }

    .resumoDetalhes {
        font-size: 20%;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    textarea {
        font-size: 110% !important;
        font-family: sans-serif !important;
    }

    .nomeProduto {
        font-size: 75% !important;
        text-align: left;
        background-color: rgb(238, 238, 238);
        font-family: 'Segoe UI', Tahoma, Arial;
        border: 1px solid #ddd;
        font-weight: left !important;
        vertical-align: middle !important;
    }

    .centralizadaVertical {
        vertical-align: middle !important;
    }

    .noMarginBottom {
        margin-bottom: 0 !important;
    }

    .alinhadaEsquerda {
        text-align: left !important;
    }

    .nomeUser {
        text-transform: capitalize !important;
    }

    .menuHome {
        /*background-color: #f4f4f4;*/
        padding-top: 4px;
        text-align: left;
        text-transform: uppercase;
        line-height: 28px;
        font-size: 12px !important;
    }

    .menuHome a {
        padding-left: 10px !important;
        padding-right: 0px !important;
        color: #333 !important;
        margin-left: 5px;
    }

    .menuHome a:hover {
        text-decoration: underline;
        background-color: #fff !important;
    }

    .menuHome li a span {
        padding-bottom: 5px !important;
    }

    .menuHome li a span:hover {
        border-bottom: 2px solid #003E55;
        background-color: #fff !important;
    }

    #bannerHome {
        background-image: url("../img/capa3.jpg");
        background-position: right top;
        background-repeat: no-repeat;
        height: 400px;
        text-align: center;
    }

    .divisoria {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
    }

    #secao-home {
        background-color: #005580;
        color: #fff;
        min-height: 280px;
        padding: 20px;
        text-align: center;
    }

    #secao-portabilidade {
        margin: 10px 0;
        min-height: 280px;
        padding: 20px;
    }

    .screen {
        text-align: center;
    }

    #slogan {
        background: url('../img/bg.jpg') repeat-x center;
        height: 300px;
        margin: 50px 0 20px 0;
    }

    .info {
        color: #a9a9a9;
        font-weight: lighter;
        font-style: italic;
        text-align: center;
        width: 100%;
    }

    .slogan {
        margin: 1% 0;
        color: #003C55;
        /*font-family: 'Exo', sans-serif;*/
    }

    .tituloSlide {
        font-weight: 300;
        height: 50px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 50px !important;
        line-height: 45px;
        color: #005580;
        /*background:#005580;*/
        border-radius: 3px;
        white-space: nowrap;
    }

    .subtituloSlide {
        font-size: 23px;
        color: #4d4d4d;
        white-space: nowrap;
        font-weight: 300;
    }

    .stats {
        font-size: 95% !important;
        font-weight: unset !important;
        letter-spacing: 0.2px !important;
    }

    .menu-topo {
        background-color: #f1f1f1 !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 700;
        padding: 10px 0px;
        min-height: 35px;
        color: #fff !important;
    }

    .cadastro {
        float: right;
        text-transform: uppercase !important;
        color: #004057;
    }

    .corretorParceiro {
        float: left;
        font-size: 22px;
        line-height: 28px;
        padding: 5px;
        margin-top: 10px;
        max-width: 338px !important;
        width: 100% !important;
    }

    .tituloAdd {
        border-bottom: 1px solid #eee;
        padding: 10px;
        text-align: center;
    }

    .error-message {
        color: red !important;
        padding: 0 0 5px 0 !important;
    }

    .botaologo {
        float: unset !important;
        margin: 22px 0;
    }

    .logoUsuario {
        max-height: 40px;
        display: unset !important;
    }

    #fixa {
        /*padding: 0.5ex;*/
        width: 100%;
        border-radius: 0.5ex;
        background-color: #fff;
    }

    #fixa.fixa {
        /*     max-width: 93.5%; */
        margin-top: 0 !important;
        position: fixed;
        top: 52px;
        z-index: 10000;
    }

    .list-camapanha {
        width: 100%;
    }

    .botaoCentral {
        font-size: 83.6%;
        color: #003e58;
        margin-bottom: 0 !important;
    }

    .botaoCentralInterna {
        font-size: 65%;
        color: #003e58;
        margin-bottom: 0 !important;
    }

    .popover-content {
        text-align: center !important;
    }

    .acoesCentral {
        border: unset !important;
        padding: 2px 12px !important;
    }

    /*
 *Início Vinícius
 */

    .botoesCentral:hover {
        background-color: white !important;
    }

    .botoesCentral:hover p {
        text-decoration: underline;
    }

    .botoesCentral:hover img {
        background-color: #E6E6E6 !important;
        border-radius: 5px;
    }

    /*
 *Fim Vinícius
 */

    .colunaBotoesHome {
        padding: 20px;
    }

    .banner {
        color: #D9534F;
        font-size: 23px;
        /*     height: 250px; */
        /*
    background-color: #f9f9f9;
    border: 1px solid #eee;
	border-radius: 5px;
    */
    }

    .bannerLg {
        left: 50%;
        margin-left: -400px;
    }

    #slider-wrapper2 {
        height: auto;
        overflow: hidden;
    }

    #textohome {
        width: 100%;
        height: auto;
    }

    .botaoHome {
        /*    -moz-box-shadow: inset 0 0 10px #b1b1b1;
        -webkit-box-shadow: inset 0 0 10px #b1b1b1;
        box-shadow: inset 0 0 10px #b1b1b1; */
        color: #003e58 !important;
        padding: 6px 0 !important;
        border: unset !important;
    }

    .botoes {
        /*padding: 1.5%  0 0 0;*/
        /*    border-top: 1px solid #eee;*/
        border-bottom: 1px solid #eee;
    }

    .circulo {
        background: aqua;
        border: 30px solid blue;
    }

    .circuloBase {
        border-radius: 50%;
        behavior: url(PIE.htc);
        /* remove if you don't care about IE8 */
    }

    .arealogin {
        float: right;
        text-align: right;
    }

    .loginreduzido {
        float: unset;
        text-align: center;
    }

    .vermelho {
        color: #D9534F !important;
    }

    .tooltip {
        position: fixed !important;
    }

    .alertaform {
        font-size: 10px;
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .preto:hover {
        color: #000 !important;
    }

    .barato {
        padding: 10px 0;
        background-color: #DFE3E4 !important;
        /*border-radius: 10px;*/
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .intermediario {
        padding: 10px 0;
        background-color: #f5f5f5 !important;
        /*border-radius: 10px;*/
    }

    .caro {
        padding: 10px 0;
        background-color: #D4DED2 !important;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .aviso {
        font-style: italic;
        color: #7a7a7a;
    }

    .tabulacao {
        display: inline-block;
        width: 110px;
    }

    .titulo-tabela {
        font-size: 90%;
        vertical-align: middle !important;
        font-weight: bold;
    }

    .corpo-gerador-tabelas {
        padding: 5px;
        width: 100%;
        border: 0.5px solid #ccc;
        font-size: 80%;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a>span,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:focus>span,
    .nav-tabs>li.active>a:hover {
        color: #fff !important;
        background-color: #003C55 !important
    }

    .nav-tabs>li>a {
        border-radius: 4px !important;
        border: 1px solid #ddd !important
    }

    .nav-tabs>li>a:hover,
    .nav-tabs>li>a:hover>span {
        background-color: #c2c2c2 !important
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover>span,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border-bottom-color: #ddd !important;
        background-color: #003C55 !important
    }

    /*
input::-webkit-input-placeholder{
    font-size: 12px;
    line-height: 3;
}

input::-moz-placeholder{
    font-size: 18px;
    line-height: 3;

}
input:-moz-placeholder{

    font-size: 12px;
    line-height: 3;
}
input:-ms-input-placeholder{
    font-size: 12px;
    line-height: 3;

    } */

    .descricao {
        word-wrap: break-word;
    }

    #btn-filtro {
        display: inline-block !important;
        background-color: #f2dede;
        width: 100%;
        color: #a94442;
    }

    #body-filtro {
        padding: 5px;
        margin-bottom: 5px;
        background-color: #f2dede !important;
        padding-bottom: 15px !important;
    }

    .flex {
        display: flex;
    }

    #search {
        box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.1);
        border-right: 0px;
    }

    #search:focus .search-button {
        background-color: #fafafa;
    }

    .search-button {
        width: 10%;
        padding: 5px;
        height: 37px;
        background-color: #FFF;
        border: 1px;
        box-shadow: inset -1px 0px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .search-button:hover,
    .search-button:focus {
        box-shadow: inset -1px 0px 1px 1px rgba(0, 0, 0, 0.2);
        background-color: #FFF;
        color: #000;
    }

    input[type="file"] {
        border: 1px solid #ccc;
        padding: 8px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
    }

    .navbar-default .navbar-toggle:focus {
        background-color: #FFF !important;
        border-color: #FFF;
        color: #333;
    }

    @media (max-width: 768px) {
        #menu-fixado .tg-container a {
            width: 48%;
            margin: 0 1%;
        }
    }

    .logo-user-cotacao {
        max-width: 300px;
        max-height: 150px;
    }

    .dados-pessoais {
        width: max-content;
    }

    .meio-cotacao {
        display: flex;
        justify-content: center;
    }

    #pre-loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pre-loader img {
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        width: 80px;
        height: 80px;
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @media print {
        .icones-btn {
            display: none;
        }
    }