<div class="clearfix">&nbsp;</div>
<div class="rodape-home col-xs-12">
    <!--Copyright 2017 - Todos os diretos Reservados-->
    Acessoria de Apoio para Corretpores. <br />Desenvolvido por<?= $this->Html->image("ciranda.png", ['style' => 'max-height: 25px; margin-left: 5px;']); ?> <?= $this->Html->link('corretorparceiro.com.br', 'https://corretorparceiro.com.br', ['style' => 'color: #666 !important']) ?>
</div>