<div class="clearfix">&nbsp;</div>
<div class="col-md-4 fonteReduzida">

    <div class="tituloField ">
        Carências
    </div>
    <?= $this->Form->input('carencia_id', ['options' => $carencias, 'empty' => 'SELECIONE', 'label' => '']); ?>            
</div>
<div class="col-md-4 fonteReduzida">

    <div class="tituloField">
        Reembolsos
    </div>
    <?= $this->Form->input('reembolso_id', ['options' => $reembolsos, 'empty' => 'SELECIONE', 'label' => '']); ?>
</div>
<div class="col-md-4 fonteReduzida">

    <div class="tituloField">
        Rede Credenciada
    </div>
    <?= $this->Form->input('rede_id', ['options' => $redes, 'empty' => 'SELECIONE', 'label' => '']); ?>

</div>

<div class="clearfix">&nbsp;</div>
<div class="col-md-4 fonteReduzida">

    <div class="tituloField">
        Dependentes
    </div>
    <?= $this->Form->input('opcional_id', ['options' => $opcionais, 'empty' => 'SELECIONE', 'label' => '']); ?>

</div>
<div class="col-md-4 fonteReduzida">

    <div class="tituloField">
        Documentos Necessários
    </div>
    <?= $this->Form->input('informacao_id', ['options' => $informacoes, 'empty' => 'SELECIONE', 'label' => '']); ?>

</div>
<div class="col-md-4 fonteReduzida">
    <div class="tituloField">
        Observações
    </div>
    <?= $this->Form->input('observacao_id', ['options' => $observacoes, 'empty' => 'SELECIONE', 'label' => '']); ?>
</div>

<div class="clearfix">&nbsp;</div>


