
<section id="AppConfiguracoes">
    <div class="section-body">
        <div class="card">
            <div class="card-head card-head-sm style-primary">
                <header>
                    <i class="md md-extension" style="margin-bottom:0;"></i> Configurações 
                </header>
            </div>

            <div class="card-body" style="min-height:500px;">

                <h4 class="pull-left" style="padding-right:5px;">E-mail</h4>
                <hr style="margin-top:21px" />
                <div class="row">
                    <div class="col-sm-2">
                        <div id="" class="text-center ho/ver" style="cursor:pointer;">
                            <i class="md md-settings-applications text-danger" style="font-size:24px;display:block;"></i> 
                            Servidores de envio
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div id="sisEmailTemplates" requestJS="AppSisEmailTemplates" class="text-center hover" style="cursor:pointer;">
                            <i class="md md-mail" style="font-size:24px;display:block;"></i> 
                            Templates
                        </div>
                    </div>
                </div>
                
                <br/>

                <h4 class="pull-left" style="padding-right:5px;">Segurança</h4>
                <hr style="margin-top:21px" />
                <div class="row">
                    <div class="col-sm-2">
                        <div id="sisConfiguracoes/permissoes" requestJS="AppRestrito" class="text-center hover" style="cursor:pointer;">
                            <i class="md md-people" style="font-size:24px;display:block;"></i> 
                            Permissões de acesso
                        </div>
                    </div>
                </div>
                
                <br/>

                <h4 class="pull-left" style="padding-right:5px;">Controle de Atualizações</h4>
                <hr style="margin-top:21px" />
                <div class="row">
                    <div class="col-sm-2">
                        <div id="sisUpdates" class="text-center hover" style="cursor:pointer;">
                            <i class="md md-publish" style="font-size:24px;display:block;"></i> 
                            Deploy
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>