<style>
    body {
        margin: 0;
        padding: 0;
    }

    .iframe {
        margin-top: 50px;
    }
</style>
<?= $this->element('menu'); ?>
<iframe src="<?= $url ?>" class="iframe" style="width: 100%; height: 100vh;"></iframe>
