<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Tabelas Geradas Produto'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Tabelas Geradas'), ['controller' => 'TabelasGeradas', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Tabelas Gerada'), ['controller' => 'TabelasGeradas', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Produtos'), ['controller' => 'Produtos', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Produto'), ['controller' => 'Produtos', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="tabelasGeradasProdutos index large-9 medium-8 columns content">
    <h3><?= __('Tabelas Geradas Produtos') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('tabela_gerada_id') ?></th>
                <th><?= $this->Paginator->sort('produto_id') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($tabelasGeradasProdutos as $tabelasGeradasProduto): ?>
            <tr>
                <td><?= $this->Number->format($tabelasGeradasProduto->id) ?></td>
                <td><?= $tabelasGeradasProduto->has('tabelas_gerada') ? $this->Html->link($tabelasGeradasProduto->tabelas_gerada->id, ['controller' => 'TabelasGeradas', 'action' => 'view', $tabelasGeradasProduto->tabelas_gerada->id]) : '' ?></td>
                <td><?= $tabelasGeradasProduto->has('produto') ? $this->Html->link($tabelasGeradasProduto->produto->id, ['controller' => 'Produtos', 'action' => 'view', $tabelasGeradasProduto->produto->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $tabelasGeradasProduto->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $tabelasGeradasProduto->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $tabelasGeradasProduto->id], ['confirm' => __('Are you sure you want to delete # {0}?', $tabelasGeradasProduto->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
