<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Pf Acomodaco'), ['action' => 'edit', $pfAcomodaco->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Pf Acomodaco'), ['action' => 'delete', $pfAcomodaco->id], ['confirm' => __('Are you sure you want to delete # {0}?', $pfAcomodaco->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Pf Acomodacoes'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Pf Acomodaco'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="pfAcomodacoes view large-9 medium-8 columns content">
    <h3><?= h($pfAcomodaco->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Nome') ?></th>
            <td><?= h($pfAcomodaco->nome) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($pfAcomodaco->id) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Descricao') ?></h4>
        <?= $this->Text->autoParagraph(h($pfAcomodaco->descricao)); ?>
    </div>
</div>
