<?= $this->Form->create($odontoOperadorasFechada, ['class' => "form-inline"]) ?>
<div class="col-xs-12 col-md-12">

    <?php
    echo $this->Form->input('nome');
    ?>

</div>
<div class="clearfix">&nbsp;</div>
<div class="col-md-12 centralizada">
	<?= $this->element('botoesAdd') ?>
</div>
