<?php foreach ($sugestao as $key => $sugestao): ?>
	<a href="<?= $this->request->webroot ?>pf-entidades/edit/<?= $key?>"><li class="linkEntidade" entidade = "<?= $key; ?>"><?= $sugestao; ?></span></li></a>
<?php endforeach; ?>