
<div class="col-xs-12">
    <h3><?= $pfEntidade->nome ?></h3>
    <?php // debug($pfEntidade);?>
    <h4>Profissões: </h4>
    <?php 
    foreach($pfEntidade->pf_entidades_profissoes as $profissoes){
        echo $profissoes['pf_profisso']['nome']."<br>";
    }
    ?>
</div>
