


<?= $this->Form->create($ramo, ['class' => "form-inline"]) ?>

<div class="col-md-12">
	<?php
	echo $this->Form->input('nome');
    echo $this->Form->input('descricao', ['type' => 'hidden', 'value' => '']);
	?>
	<div class="spacer-lg"></div>
	<?= $this->element('botoesAdd') ?>

</div>
<?= $this->Form->end() ?>

