<div class="col-md-3 fonteReduzida">
    <?=
        $this->Html->link($this->Html->tag('span', '', ['class' => 'fa fa-plus', 'aria-hidden' => 'true']) . ' Nova Observação', ['action' => 'add'], ['class' => 'btn btn-sm btn-primary botaoSalvar', 'role' => 'button', 'escape' => false, 'sid'=>'reembolsos.add']);
    ?>
</div>
<div class="col-md-3 fonteReduzida">
    <?= $this->Form->input('estados', ['value' => $estado, 'options' => $estados, 'label' => '', 'empty' => 'Selecione ESTADO']); ?>
</div>
<div class="col-md-3 fonteReduzida">
    <?php if (empty($operadoras)) : ?>
        <?= $this->Form->input('operadora_id', ['options' => '', 'label' => '', 'empty' => 'Selecione OPERADORA', 'disabled' => true]); ?>
    <?php else : ?>
        <?= $this->Form->input('operadora_id', ['value' =>  $operadora, 'options' => $operadoras, 'label' => '', 'empty' => 'Selecione OPERADORA']); ?>
    <?php endif; ?>
</div>

<?= $this->Form->create('selecaoTabelas', ['id' => 'selecaoTabelas']); ?>
<div class="col-xs-12">
    <?php if (isset($reembolsos)) {
        if (!empty($reembolsos)) { ?>
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th><?= 'Nome' ?></th>
                        <th><?= 'Descrição' ?></th>
                        <th><?= 'Operadora' ?></th>
                        <th class="actions"><?= __('Actions') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($reembolsos as $reembolso) : ?>
                        <tr>

                            <td><?= h($reembolso->nome) ?></td>
                            <td><?= h($reembolso->descricao) ?></td>
                            <td>
                                <?php
                                if (isset($reembolso->operadora->imagen->caminho)) {
                                    echo $this->Html->image("../" . $reembolso->operadora->imagen->caminho . "/" . $reembolso->operadora->imagen->nome, ['class' => 'logoMiniatura']) . "  " . $reembolso->operadora->detalhe;
                                } else {
                                    echo $reembolso->operadora->nome . " - " . $reembolso->operadora->detalhe;
                                } ?>
                            </td>
                            <td class="actions">
                                <?= $this->Html->link($this->Html->tag('span', '', ['class' => 'fa fa-pencil', 'aria-hidden' => 'true']), ['action' => 'edit', $reembolso->id], ['class' => 'btn btn-sm btn-default', 'role' => 'button', 'escape' => false, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Editar', 'sid'=>'reembolsos.edit']) ?>
                                <?= $this->Form->postLink('', ['action' => 'delete', $reembolso->id], ['confirm' => __('Confirma exclusão?', $reembolso->id), 'title' => __('Deletar'), 'class' => 'btn btn-sm btn-danger fa fa-trash', 'sid'=>'reembolsos.delete']) ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <div class="paginator">
                <ul class="pagination">
                    <?= $this->Paginator->prev('< ' . __('previous')) ?>
                    <?= $this->Paginator->numbers() ?>
                    <?= $this->Paginator->next(__('next') . ' >') ?>
                </ul>
                <p><?= $this->Paginator->counter() ?></p>
            </div>
        <?php
        } else {
        ?>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-md-12 text-danger centralizada"> NENHUM PRODUTO ENCONTRADO</div>
    <?php
        }
    }
    ?>


    <?= $this->Form->end() ?>
</div>
<script type="text/javascript">
    $("#estados").change(function() {
        window.location.href = baseUrl + "reembolsos/filtro/" + $(this).val();
    });

    $("#operadora-id").change(function() {
        window.location.href = baseUrl + "reembolsos/filtro/" + $("#estados").val() + "/" + $(this).val();
    });
</script>