<?php $btnSubmitName = (isset($btnSubmitName)) ? $btnSubmitName : 'SALVAR'; ?>
<?php $disabled = (isset($disabled)) ? 'disabled="disabled"' : ''; ?>
<div class="modal-footer">
	<button type="submit" style="float: right;" class="btn btn-primary btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processando..." <?php echo $disabled; ?>><?php echo $btnSubmitName; ?></button>
	<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin:0;">FECHAR</button>
</div>