<?= $this->Form->input('odonto_produto_id', ['options' => $odonto_produtos, 'empty' => 'SELECIONE', 'label' => 'Produto', 'required' => 'required']); ?>
<?= ($odonto_produtos == null) ? '<b><small style="color:red">Sem cadastro de Produtos</small></b>' : ""; ?>
