<?= $this->Form->input('odonto_comercializacao_id', ['options' => $odonto_comercializacoes, 'empty' => 'SELECIONE', 'label' => 'Área de Comercialização', 'required' => 'required']); ?>
<?= ($odonto_comercializacoes == null) ? '<b><small style="color:red">Sem cadastro de Área de Comercialização</small></b>' : ""; ?>
