<label>Produtos</label>
<?= $this->Form->input('pf_tabelas._ids', ['id' => 'pf-tabelas', 'options' =>  $produtos, 'class' => 'multiselect', 'multiple']) ?>
<script>
    $(document).ready(function() {
        $("#pf-tabelas").multiSelect()
    })
</script>