<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Pf Entidades Profisso'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Pf Entidades'), ['controller' => 'PfEntidades', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Pf Entidade'), ['controller' => 'PfEntidades', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Pf Profissoes'), ['controller' => 'PfProfissoes', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Pf Profisso'), ['controller' => 'PfProfissoes', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="pfEntidadesProfissoes index large-9 medium-8 columns content">
    <h3><?= __('Pf Entidades Profissoes') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('pf_entidade_id') ?></th>
                <th><?= $this->Paginator->sort('pf_profissao_id') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($pfEntidadesProfissoes as $pfEntidadesProfisso): ?>
            <tr>
                <td><?= $this->Number->format($pfEntidadesProfisso->id) ?></td>
                <td><?= $pfEntidadesProfisso->has('pf_entidade') ? $this->Html->link($pfEntidadesProfisso->pf_entidade->id, ['controller' => 'PfEntidades', 'action' => 'view', $pfEntidadesProfisso->pf_entidade->id]) : '' ?></td>
                <td><?= $pfEntidadesProfisso->has('pf_profisso') ? $this->Html->link($pfEntidadesProfisso->pf_profisso->id, ['controller' => 'PfProfissoes', 'action' => 'view', $pfEntidadesProfisso->pf_profisso->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $pfEntidadesProfisso->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $pfEntidadesProfisso->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $pfEntidadesProfisso->id], ['confirm' => __('Are you sure you want to delete # {0}?', $pfEntidadesProfisso->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
