<div class="col-md-12 fonteReduzida">

    <?php
    $i = 1;
    for ($i = 1; $i <= $qtde; $i++) {
        ?>
        <div class="col-md-3">
            <?= $this->Form->input('Dependentes.dependente' . $i, ['label' => 'Idade Dependente ' . $i, 'required' => 'required']); ?>            
        </div>

        <?php
    }
    ?>


</div>