<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Odonto Atendimento'), ['action' => 'edit', $odontoAtendimento->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Odonto Atendimento'), ['action' => 'delete', $odontoAtendimento->id], ['confirm' => __('Are you sure you want to delete # {0}?', $odontoAtendimento->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Odonto Atendimentos'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Odonto Atendimento'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="odontoAtendimentos view large-9 medium-8 columns content">
    <h3><?= h($odontoAtendimento->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Nome') ?></th>
            <td><?= h($odontoAtendimento->nome) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($odontoAtendimento->id) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Descricao') ?></h4>
        <?= $this->Text->autoParagraph(h($odontoAtendimento->descricao)); ?>
    </div>
</div>
