<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $agendamento->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $agendamento->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Agendamentos'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Tabelas'), ['controller' => 'Tabelas', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Tabela'), ['controller' => 'Tabelas', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="agendamentos form large-9 medium-8 columns content">
    <?= $this->Form->create($agendamento) ?>
    <fieldset>
        <legend><?= __('Edit Agendamento') ?></legend>
        <?php
            echo $this->Form->input('data_alteracao');
            echo $this->Form->input('percentual');
            echo $this->Form->input('nova_vigencia');
            echo $this->Form->input('user_id', ['options' => $users]);
            echo $this->Form->input('situacao');
            echo $this->Form->input('operadora_id');
            echo $this->Form->input('tabelas._ids', ['options' => $tabelas]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
